.people {
  /* background-color: #252a34; */
  height: 100vh;
  overflow: scroll;
  background-attachment: fixed;
  background-image: url("https://images7.alphacoders.com/671/thumb-1920-671281.jpg");
}
.people__container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.people__container .spec h5 {
  color: #fff;
  font-weight: 500;
}
.people::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width: 768px) {
  .people__container {
    justify-content: center;
  }
}
